.ev-list {
    display: flex;
    background: $white;
    height: 60px;
}

.ev-list__title {
    display: flex;
    margin: 0 0 0 10px;
    flex-direction: column;
    justify-content: center;
}

.ev-list-border-transparent {
    border-left: 5px solid $ev-border-left-transparent-color
}

.ev-list-border-active {
    border-left: 5px solid $ev-border-left-active-color
}

button.icon-btn-nature {
    padding: 10px;
}